/* *{
    outline: 1px solid red;
} */

.container{
    height: 100vh;
    background-color: #b050ff;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
}

.content{
    background-color: #000000;
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-items: center;
}

h1{
    font-family: Montserrat, sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(2rem, 8vw, 6rem); /* Valor mínimo, preferido y máximo */
    font-weight: 800;
}

/* Aplicar un gradiente lineal como fondo */
.textoGradient{
    background: linear-gradient(92deg, #6a68d9 10%, #da6cae 60%, #f5a957); /* El gradiente va de izquierda a derecha */
    background-clip: text; /* Hacer que el fondo solo se aplique al texto */
    color: transparent; /* Hacer que el texto sea transparente, permitiendo que el gradiente de fondo se vea a través de él */
}