/* *{
    outline: 1px solid red;
} */

.container{
    height: 100vh;
    background-color: #b050ff;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
}

.content{
    background-color: #000000;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Aplicar un gradiente lineal como fondo */
.texto{
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    background: linear-gradient(
        to right, violet, indigo, green, yellow
    ); /* El gradiente va de izquierda a derecha */
    background-clip: text; /* Hacer que el fondo solo se aplique al texto */
    color: transparent; /* Hacer que el texto sea transparente, permitiendo que el gradiente de fondo se vea a través de él */
}