/* *{
    outline: 1px solid red;
} */

.container{
    background-color: #242323;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typewriter{
    width: 21ch;
    animation: typing 6s steps(28) forwards, blink .5s step-end infinite alternate;
    white-space: nowrap; /* Evita que el texto se envuelva a la siguiente línea */
    overflow: hidden; /* Oculta cualquier contenido que se desborde fuera del contenedor */
    border-right: 3px solid; /* Añade una línea de borde a la derecha para simular el cursor */
    height: 2.5em;
    font-family: monospace;
    color: white;
    display: flex; /* Utiliza flexbox para centrar verticalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido dentro del contenedor */
}
@keyframes typing {
    0%{
        width: 0; /* El ancho inicial del contenedor es 0 */
    }
    50%{
        width: 21ch; /* El ancho final del contenedor es 21 caracteres (ch) */
    }
}
@keyframes blink{
    50%{
        border-color: transparent; /* Hace que el borde (cursor) sea transparente al 50% del tiempo */
    }
}
